html {
    margin: auto, 0px;
    padding: 2vw;
}

body {
    background-color: #f8f9fa;
    font-family: cursive;
}

.form-container {
    /* max-width: 600px; */
    margin: 0 auto;
}

.task-list {
    /* max-width: 600px; */
    margin: 0 auto;
    overflow-y: auto;
}

form::placeholder {
    font-family: cursive;
}